<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/cliente">Cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pagamento">Pagamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/produto">Produto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/usuario">Usuario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/venda">Venda</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>